.nation {
    background-image: url("nation/nation-bg.jpg");
    background-position: 50.00% 82.71%;
}

.legion {
    background-image: url("legion/legion-bg.jpg");
    background-position: 0.00% 36.31%;
}

.evil {
    background-image: url("evil/evil-bg.jpg");
    background-position: 50.00% 50.00%;
}

.good {
    background-image: url("good/good-bg.jpg");
    background-position: 50.00% 50.00%;
}

.chaos {
    background-image: url("chaos/chaos-bg.jpg");
    background-position: 50.00% 0.00%;
}

.others {
    background-image: url("others/others-bg.jpg");
    background-position: 50% 50%;
}

.ctn-box h3 {
    font-size: 100px;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}

.ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ctn-item {
    padding: 35px;
    text-align: center;
}

.ctn-item a img {
    height: 265px;
}

.join-token {
    height: 85%;
}
.legion-btn {
    font-size: 2em;
    padding: 8px 15px;
    margin: 15px;
    border: 2px solid #117a8b;
    border-radius: 5px;
    background-color: #040404;
}

.legion-btn:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}